{% extends 'administration/base.html.twig' %}

{% block content %}
    <h2>Affectation des modules : </h2>

    {{ form_start(form)}}

    {{ form_widget(form) }}
    <button class="btn" type="submit">Affecter</button>
    {{ form_end(form)}}

{% endblock %}

