{% extends 'administration/base.html.twig' %}


{% block content %}
    <h1>Edit Filiere</h1>

    {{ include('filiere/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('filiere_index') }}">back to list</a>

    {{ include('filiere/_delete_form.html.twig') }}
{% endblock %}