{% extends 'administration/base.html.twig' %}

{% block content %}
    <h1>Filiere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Modules</th>
                <th>Etudiant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for filiere in filieres %}
            <tr>
                <td>{{ filiere.id }}</td>
                <td>{{ filiere.nom }}</td>
                <td>
                    <a href="{{ path('module_filiere', {'id': filiere.id}) }}">voir</a>
                </td>
                <td>
                    <a href="{{ path('filiere_etudiant', {'id': filiere.id}) }}">voir</a>
                </td>
                <td>
                    <a href="{{ path('filiere_show', {'id': filiere.id}) }}">show</a>
                    <a href="{{ path('filiere_edit', {'id': filiere.id}) }}">edit</a>
                    <a href="{{ path('affectation_module', {'id': filiere.id}) }}">Affecter des modules</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('filiere_new') }}">Ajouter</a>
{% endblock %}