{% extends 'administration/base.html.twig' %}

{% block content %}
    <h1>Ajouter Filiere</h1>

    {{ include('filiere/_form.html.twig') }}

    <a href="{{ path('filiere_index') }}">back to list</a>
{% endblock %}