{% extends 'administration/base.html.twig' %}

{% block content %}
    <h2>Ajouter un module :</h2>

    <h1>Filiere</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ filiere.id }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ filiere.nom }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('filiere_index') }}">back to list</a>

    <a href="{{ path('filiere_edit', {'id': filiere.id}) }}">edit</a>

    {{ include('filiere/_delete_form.html.twig') }}
{% endblock %}

