<!DOCTYPE html>

<title>Absence index</title>

{% block body %}
    <h1>Absence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td>{{ absence.id }}</td>
                <td>
                    <a href="{{ path('absence_show', {'id': absence.id}) }}">show</a>
                    <a href="{{ path('absence_edit', {'id': absence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('absence_new') }}">Ajouter</a>
{% endblock %}