<!DOCTYPE html>

<title>New Absence</title>

{% block body %}
    <h1>Ajouter Absence</h1>

    {{ include('absence/_form.html.twig') }}

    <a href="{{ path('absence_index') }}">back to list</a>
{% endblock %}