<!DOCTYPE html>

<title>Absence</title>

{% block body %}
    <h1>Absence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ absence.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('absence_index') }}">back to list</a>

    <a href="{{ path('absence_edit', {'id': absence.id}) }}">edit</a>

    {{ include('absence/_delete_form.html.twig') }}
{% endblock %}