{% extends 'professeur/base.html.twig' %}


{% block content %}
    <h1>liste des utilisateur :</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Email</th>
            <th>Isactive</th>
            <th>Iduser</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in affectation.filiere.etudiant %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }} </td>
                <td>{{ user.isactive ? 'Oui' : 'Non' }}</td>
                <td>{{ user.iduser }}</td>

                <td>
                    <a href="{{ path('prof_give_note', {'id': affectation.id , 'iduser':  user.iduser}) }}">donner une note </a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prof_filiere') }}">list de vos modules</a>
{% endblock %}