{% extends 'professeur/base.html.twig' %}

{% block content %}
    <h1>Editer la Note</h1>

    {{ include('note/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('prof_list_note' , {id : note.module.id}) }}">voir la list</a>

    {{ include('note/_delete_form.html.twig') }}
{% endblock %}