{% extends 'professeur/base.html.twig' %}

{% block content %}
<h1>les notes du module : {{ module.nom }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Note</th>
                <th>Nom etudiant</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note.id }}</td>
                <td>{{ note.note }}</td>
                <td>{{ note.etudiant.firstname }} {{ note.etudiant.lastname }}</td>
                <td>
                    <a href="{{ path('note_show', {'id': note.id}) }}">voir</a>
                    <a href="{{ path('note_edit', {'id': note.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('prof_filiere') }}">list de vos modules</a>
{% endblock %}