{% extends 'etudiant/base.html.twig' %}

{% block content %}
    <h1>vos notes :</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Note</th>
            <th>Module</th>
            <th>filiere</th>


        </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td>{{ note.id }}</td>
                <td>{{ note.note }}</td>
                <td>{{ note.module.nom }}</td>
                <td>{{ note.etudiant.filiere.nom }}</td>


            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}