{% extends 'professeur/base.html.twig' %}

{% block content %}
    <h1>Ajout note :</h1>
     <p>vous etes entrain de ajouter la note du module <strong>{{ affectation.module.nom }}</strong> ( filiere : <strong>{{ affectation.filiere.nom }}</strong> )
       de l'etudiant : <strong>{{ etudiant.firstname }} {{ etudiant.lastname }}</strong>
     </p>
    <div class="container">
        {% if error is defined  %}
            {% for er in error %}
                <div class="alert alert-danger">
                    <strong>Erreur !</strong> . {{ er }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {{ include('note/_form.html.twig') }}

    <a href="{{ path('prof_list_note' , {id : affectation.module.id}) }}">back to list</a>
{% endblock %}