{% extends 'professeur/base.html.twig' %}

{% block content %}
    <h1>Note</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ note.id }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ note.note }}</td>
            </tr>
            <tr>
                <th>module</th>
                <td>{{ note.module.nom }}</td>
            </tr>
            <tr>
                <th>etudiant</th>
                <td>{{ note.etudiant.firstname }} {{ note.etudiant.lastname }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prof_list_note' , {id : note.module.id}) }}">back to list</a>

    <a href="{{ path('note_edit', {'id': note.id}) }}">etider</a>

    {{ include('note/_delete_form.html.twig') }}
{% endblock %}