
{% extends 'administration/base.html.twig' %}

{% block content %}
    <h2>Ajouter un module :</h2>

    {{ form_start(form)}}

     {{ form_widget(form) }}
    <button class="btn" type="submit">Ajouter</button>
    {{ form_end(form)}}
{% endblock %}


