
{% extends 'administration/base.html.twig' %}

{% block content %}
    <h2>liste des modules :</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
                <td>{{ module.id }}</td>
                <td>{{ module.nom }}</td>
                <td>
                    <a href="{{ path('module_delete', {'id': module.id ,'token' : csrf_token('delete' ~ module.id)})   }}">supprimer</a>
                    <a href="{{ path('module_edit', {'id': module.id}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de donnees .</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('module_new') }}">Ajouter</a>

{% endblock %}


