
{% extends 'administration/base.html.twig' %}

{% block content %}
    <h2>liste des modules de votre filiere :</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Id module</th>
            <th>Nom</th>
            <th>semetre</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for module in modules %}
            <tr>
                <td>{{ module.module_id }}</td>
                <td>{{ module.nom }}</td>
                <td>{{ module.semestre }}</td>
                <td>
                    <a href="{{ path('module_filiere_delete', {'id': module.id , 'token' : csrf_token('delete' ~ module.id) }) }}">supprimer</a>
                    <a href="{{ path('filiere_show', {'id': module.filiere_id}) }}">la filiere</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">pas de donnees .</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('module_new') }}">Ajouter</a>

{% endblock %}


