<form method="post" action="{{ path('planning_delete', {'id': planning.id , idaff:affectation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planning.id) }}">
    <button class="btn">Delete</button>
</form>