{% extends "professeur/base.html.twig" %}


{% block content %}

    <h1>Etider une séance du module :</h1>
    {% if planning %}
        <p><strong>{{ affectation.module.nom }}</strong> ( filiere : <strong>{{ affectation.filiere.nom }}</strong> )
    {% endif %}

    {{ include('planning/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('planning_index', {id : affectation.id} ) }}">Voir tout</a>

    {{ include('planning/_delete_form.html.twig') }}
{% endblock %}