{% extends 'etudiant/base.html.twig' %}

{% block content %}
    <h1>planning :</h1>
    <h4>
        {% if plannings|length > 0%}
            ( filiere : <strong>{{ plannings[0].filiere.nom }}</strong> )

                <a href="#" data-toggle="modal" data-target="#myCalendrier" id="popup" data-href="{{ path('planning_list_services_etudiant', {'fid': plannings[0].filiere.id}) }}">voir dans la calendrier</a>

        {% endif %}
    </h4>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>module</th>
            <th>Jour</th>
            <th>De </th>
            <th>à</th>
            <th>description</th>

        </tr>
        </thead>
        <tbody>
        {% for planning in plannings %}
            <tr>
                <td>{{ planning.id }}</td>
                <td>{{ planning.module.nom }}</td>
                <td>{{ planning.jour ? planning.jour|date('d-m-Y') : '' }}</td>
                <td>{{ planning.fromDate ? planning.fromDate|date(' H:i') : '' }}</td>
                <td>{{ planning.toDate ? planning.toDate|date(' H:i') : '' }}</td>
                <td>{{ planning.description }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="myCalendrier" class="modal fade" role="dialog" style=" max-width: initial; margin: 20px">
        <div class="modal-dialog" style=" max-width: initial;">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4>planning  :
                        {% if plannings|length > 0%}
                        ( filiere : <strong>{{ plannings[0].filiere.nom }}</strong> )
                            {% endif %}
                    </h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body" >
                    <div id='calendar'></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>



{% endblock %}