{% extends "professeur/base.html.twig" %}


{% block content %}

    <h1>ajouter une séance au module :</h1>
    {% if planning %}
        <p><strong>{{ affectation.module.nom }}</strong> ( filiere : <strong>{{ affectation.filiere.nom }}</strong> )
    {% endif %}


    {{ include('planning/_form.html.twig') }}

    <a href="{{ path('planning_index', {id : affectation.id} ) }}">Voir tout</a>
{% endblock %}