{% extends 'professeur/base.html.twig' %}

{% block content %}
    <h1>Filiere index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>filiere</th>
            <th>Module</th>
            <th>Etudiant</th>
            <th>action : planning</th>

        </tr>
        </thead>
        <tbody>
        {% for elm in affectations %}
            <tr>

                <td>{{ elm.filiere.nom }}</td>
                <td>{{ elm.module.nom }}</td>
                <td>
                    <a href="{{ path('prof_etudiant', {'id': elm.id}) }}">voir</a>
                </td>

                <td>
                    <a href="{{ path('planning_index', {'id': elm.id}) }}">voir le planning </a>
                </td>


            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}