{% extends "professeur/base.html.twig" %}


{% block content %}

    <h1>planning du module :</h1>
    {% if planning %}
        <p><strong>{{ planning.module.nom }}</strong> ( filiere : <strong>{{ planning.filiere.nom }}</strong> )
    {% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planning.id }}</td>
            </tr>
            <tr>
                <th>Jour</th>
                <td>{{ planning.jour ? planning.jour|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>de </th>
                <td>{{ planning.fromDate ? planning.fromDate|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>à</th>
                <td>{{ planning.toDate ? planning.toDate|date('H:i') : '' }}</td>
            </tr>
            <tr>
                <th>description</th>
                <td>{{ planning.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('planning_index', {id : affectation.id} ) }}">Voir tout</a>

    <a href="{{ path('planning_edit', {'id': planning.id,'idaff': affectation.id}) }}">editer</a>

    {{ include('planning/_delete_form.html.twig') }}
{% endblock %}