<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ asset('css/bootstrap/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ asset('js/bootstrap/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap/bootstrap.js') }}"></script>
    <title>Document</title>
</head>
<body>
      <div class="container" style="margin-top: 100px">


          <div class="row">
               <div class="col">
                    <img src="{{ asset('image/logo.png') }}" width="100px" height="100px" >
               </div>
          </div>
          {% if error %}
              <div class="alert alert-danger">
                  <strong>Erreur !</strong> . {{ error.messageKey|trans(error.messageData) }}
              </div>

          {% endif %}
          <form action="{{ path('login_users') }}" method="post">
              <div class="form-group">
                  <label for="_username">username :</label>
                  <input type="text" class="form-control" id="_username" name="_username" required>
              </div>
              <div class="form-group">
                  <label for="_password">Password :</label>
                  <input type="password" class="form-control" id="_password" name="_password" required>
              </div>

              <button type="submit" class="btn btn-primary" id="password" name="_login">Authentification</button>
          </form>
          <br>
          <div class="row" style="margin-left: 10px">
              <a href="{{ path('etudiant_new') }}" class=" ">Creer compte etudiant .</a>
          </div>

      </div>
</body>
</html>

