
.head{
    height: 50px;
    background-color: #1D2939;
}
h1.first-s{
    font-size: 350px;
    color: #2c394c;
}
h1.second-s{
    font-size: 200px;

}
div._navbar{

    margin: 10px;
    width: 100%;
    border-right: 1px solid #1D2939;
}
.contenu{

    margin: 10px;
    padding: 10px;
}
.btn{
    margin: 5px;
}
i{
    color:#1D2939;
}
div.dropdown-menu{
    width: 100%;
    font-size: 18px;
}
a.navbar{

    color: #2A6496;
    font-size: 22px;
}
a.navbar:hover {
    color: #000000;
}
