
{% extends 'professeur/base.html.twig' %}

{% block content %}
    <h1>Editer Document</h1>
    <p>vous etes entrain de modifier un documents du module <strong>{{ affectation.module.nom }}</strong>
    ( filiere : <strong>{{ affectation.filiere.nom }}</strong> )
    {{ include('document/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('document_index' , {id:affectation.id}) }}">back to list</a>

    {{ include('document/_delete_form.html.twig') }}
{% endblock %}