
{% extends 'professeur/base.html.twig' %}

{% block content %}
    <h1>liste des document </h1>
    {% if documents|length > 0%}
    <p>vous etes entrain de voir les documents du module <strong>{{ documents[0].module.nom }}</strong> ( filiere : <strong>{{ documents[0].filiere.nom }}</strong> )
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Link</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.nom }}</td>
                <td>{{ document.link }}</td>
                <td>
                    <a href="{{ path('document_show', {'id': document.id,'idaff': affectation.id} ) }}">show</a>
                    <a href="{{ path('document_edit', {'id': document.id ,'idaff': affectation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('document_new' , {id:affectation.id}) }}">Ajouter un document pour ce module</a>
{% endblock %}