
{% extends 'etudiant/base.html.twig' %}

{% block content %}
    <h1>liste des document </h1>
    {% if documents|length > 0%}
        <p>vous etes entrain de voir les documents de la filiere : <strong>{{ documents[0].filiere.nom }}</strong>
    {% endif %}
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Link</th>
            <th>module</th>
        </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.nom }}</td>
                <td>{{ document.link }}</td>
                <td>{{ document.module.nom }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}