
{% extends 'professeur/base.html.twig' %}

{% block content %}
    <h1>Ajouter un document :</h1>
    <p>vous etes entrain d'ajouter un documents au module <strong>{{ affectation.module.nom }}</strong>
    ( filiere : <strong>{{ affectation.filiere.nom }}</strong> )
    {{ include('document/_form.html.twig') }}

    <a href="{{ path('document_index' , {id:affectation.id}) }}">back to list</a>
{% endblock %}