
{% extends 'professeur/base.html.twig' %}

{% block content %}
    <h1>Document</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ document.nom }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ document.link }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('document_index' , {id:affectation.id}) }}">back to list</a>

    <a href="{{ path('document_edit', {'id': document.id}) }}">edit</a>

    {{ include('document/_delete_form.html.twig') }}
{% endblock %}