{% extends 'administration/base.html.twig' %}

{% block content %}
    <h1>affectation professeur-module</h1>
    <div class="container">
        <h4>le professeur : </h4>
        <p>username : {{ user.username }} <br/>
        Nom complet : {{ user.firstname }} {{ user.lastname }}</p>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>semestre</th>
            <th>Modules</th>
            <th>filiere</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for elm in affectations %}
            <tr>
                <td>{{ elm.id }}</td>
                <td>{{ elm.semestre }}</td>
                <td>{{ elm.module.nom }}</td>
                <td>{{ elm.filiere.nom }}</td>
                <td>
                    <a href="{{ path('affectation_delete', {'id': elm.id ,'token' : csrf_token('delete' ~ elm.id)}) }}" class="delete">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('affectation_new',{iduser:user.iduser}) }}">Ajouter</a>
{% endblock %}