{% extends 'administration/base.html.twig' %}

{% block content %}
    <div class="row">
        <h1>Creation d'un compte etudiant :</h1>
    </div>
    <div class="container">

        <div class="alert alert-info ">
            <strong>info !</strong> il faut choisir d'abord la filiere .
        </div>

    </div>
    <div class="container">
        {% if error is defined  %}
            {% for er in error %}
                <div class="alert alert-danger">
                    <strong>Erreur !</strong> . {{ er }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div class="container">
        <h4>affectation du professeur : </h4>
        <p>username : {{ user.username }} <br/>
            Nom complet : {{ user.firstname }} {{ user.lastname }}</p>
    </div>
    <form action="{{ path('affectation_new',{iduser:user.iduser}) }}" method="post" name="add">
        <div class="form-group">
            <label for="filiere">filiere :</label>
            <select type="text" class="form-control" id="filiere" name="filiere" required>
                {% if filiere is defined  %}
                    {% for f in filiere %}
                        <option value="{{ f.id }}">{{ f.nom }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <label for="module">module :</label>
            <select type="text" class="form-control" id="module" name="module" required>

            </select>
        </div>
        <div class="form-group">
            <label for="semestre">module :</label>
            <input type="number" min="1" max="50" id="semestre" name="semestre">
        </div>

        <button type="submit" class="btn" id="button" name="add" data-href="{{ path('module_filiere', {'id': -1}) }}">ajouter</button>
    </form>


{% endblock %}

