<form method="post" action="{{ path('user_delete', {'iduser': user.iduser}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.iduser) }}">
    <button class="btn">Delete</button>
</form>