{% extends 'administration/base.html.twig' %}


{% block content %}
    <h1>Edit utilisateur :</h1>

    <div class="container">
        {% if error is defined  %}
            {% for er in error %}
                <div class="alert alert-danger">
                    <strong>Erreur !</strong> . {{ er }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">la liste des utilisateurs</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}