{% extends 'administration/base.html.twig' %}


{% block content %}
    <h1>liste des utilisateur :</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Email</th>
            <th>Isactive</th>
            <th>Iduser</th>
            <th>Roles</th>

            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users if 'ROLE_PROF' in user.userroles%}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }} </td>
                <td>{{ user.isactive ? 'Oui' : 'Non' }}</td>
                <td>{{ user.iduser }}</td>
                <td>
                    {% for role in user.userroles  %}
                        {{ role.name }}<br>
                    {% endfor %}
                </td>

                <td>
                    <a href="{{ path('user_show', {'iduser': user.iduser}) }}">show</a>
                    <a href="{{ path('user_edit', {'iduser': user.iduser}) }}">edit</a>
                    <a href="{{ path('affectation_prof', {'iduser': user.iduser}) }}">affectation</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">Create new</a>
{% endblock %}