{% extends 'administration/base.html.twig' %}


{% block content %}
    <h1>ajouter nouveau utilisateur </h1>

    <div class="container">
        {% if error is defined  %}
            {% for er in error %}
                <div class="alert alert-danger">
                    <strong>Erreur !</strong> . {{ er }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">back to list</a>
{% endblock %}