{% extends 'administration/base.html.twig' %}


{% block content %}
    <h1>utilisateur :</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{{ user.isactive ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Iduser</th>
                <td>{{ user.iduser }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'iduser': user.iduser}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}