<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gestion Filiere : panel etudinat ..:*:..</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href={{ asset("css/bootstrap/bootstrap.css")}}>
    <link rel="stylesheet" href={{ asset("css/local/style.css")}}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src={{ asset("js/bootstrap/jquery.js")}}></script>
    <script src={{ asset("js/bootstrap/Popper.js")}}></script>
    <script src={{ asset("js/bootstrap/bootstrap.js")}}></script>
    <link rel='stylesheet' href={{ asset("css/fullcalendar/fullcalendar.css")}} />
    <script src={{ asset("js/moment.js")}} ></script>
    <script src={{ asset("js/fullcalendar/fullcalendar.js")}}></script>
    <script src={{ asset("js/fullcalendar/locale-all.js")}} ></script>
    <script src={{ asset("js/fullcalendar/init.js")}} ></script>

    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 550px}

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }



        /* On small screens, set height to 'auto' for the grid */
        @media screen and (max-width: 767px) {
            .row.content {height: auto;}
        }

        .fc-title{
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="row head">
    <div class="dropdown" style="position:absolute ; right: 0">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user-circle" style="font-size:24px"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="width: 300px;padding: 10px; background-color: #8F939E">
            <p>Salam :

            </p>
            <ul class="list-group">
                <li class="list-group-item">username :  {{ app.user.username }}</li>
                <li class="list-group-item">Nom : {{ app.user.firstname }}</li>
                <li class="list-group-item">Prenom : {{ app.user.lastname }}</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-2 _navbar">
        <ul class="nav flex-column" style="width: 100%">
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle navbar" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench" style="font-size:24px"></i> Opérations
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('etudiant') }}">
                        <i class="fa fa-home" style="font-size:24px"></i>
                        Acceil
                    </a>
                    <a class="dropdown-item" href="/logout">
                        <i class="fa fa-sign-out" style="font-size:24px"></i>
                        deconnexion
                    </a>
                </div>


            </li>
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle navbar" data-toggle="dropdown" href="#">
                    <i class="fa fa-university" style="font-size:24px"></i> les notes
                </a>
                <div class="dropdown-menu">

                    <a class="dropdown-item" href="{{ path('note_etudiant_index') }}">Consultation</a>
                </div>
            </li>
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle navbar" data-toggle="dropdown" href="#">
                    <i class="fa fa-file" style="font-size:24px"></i>documents
                </a>
                <div class="dropdown-menu">

                    <a class="dropdown-item" href="{{ path('document_etudiant') }}">Consultation</a>

                </div>
            </li>
            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle navbar" data-toggle="dropdown" href="#">
                    <i class="fa fa-book" style="font-size:24px"></i> planning
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('planning_etudiant') }}">Consultation</a>

                </div>
            </li>

            <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle navbar" data-toggle="dropdown" href="#">
                    <i class="fa fa-users" style="font-size:24px"></i> profile
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('etudiant') }}">Consultation</a>
                     <a class="dropdown-item" href="{{ path('etudiant_edit' , {'iduser': app.user.iduser}) }}">Editer</a></div>
            </li>


        </ul>
    </div>
    <div class="col-9 contenu" >
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

</div>

<script>
    var links=document.getElementsByClassName("contenu")[0].getElementsByTagName("a");
    for (var i=0;i<links.length;i++){
        links[i].classList.add('btn');
        links[i].classList.add('btn-secondary');
    }
    var inputs=document.getElementsByClassName("contenu")[0].getElementsByTagName("input");

    for (var i=0;i<inputs.length;i++){
        inputs[i].classList.add('form-control');

    }
    var selects=document.getElementsByClassName("contenu")[0].getElementsByTagName("select");
    for (var i=0;i<selects.length;i++){
        selects[i].classList.add('form-control');

    }
</script>

</body>
</html>