
{% extends 'etudiant/base.html.twig' %}

{% block content %}
    <h1>etider le profile :</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

{% endblock %}

