
{% extends 'etudiant/base.html.twig' %}

{% block content %}
    <h1>utilisateur :</h1>

    <table class="table">
      <tbody>
      <tr>
        <th>Firstname</th>
        <td>{{ app.user.firstname }}</td>
      </tr>
      <tr>
        <th>Lastname</th>
        <td>{{ app.user.lastname }}</td>
      </tr>
      <tr>
        <th>Username</th>
        <td>{{ app.user.username }}</td>
      </tr>
      <tr>
        <th>Email</th>
        <td>{{ app.user.email }}</td>
      </tr>
      <tr>
        <th>filiere</th>
        <td>{{  app.user.filiere.nom}}</td>

      </tr>


      <tr>
        <th>Isactive</th>
        <td>{{ app.user.isactive ? 'Oui' : 'Non' }}</td>
      </tr>
      <tr>
        <th>Iduser</th>
        <td>{{ app.user.iduser }}</td>
      </tr>

    </tbody>
  </table>
{% endblock %}

