<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{{ asset('css/bootstrap/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <script src="{{ asset('js/bootstrap/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap/bootstrap.js') }}"></script>
    <title>Creer compte etudiant .</title>
    <style>
           button{
               margin: 10px;
           }
    </style>
</head>
<body>
<div class="container" style="margin-top: 100px">


    <div class="row">
        <div class="col">
            <img src="{{ asset('image/logo.png') }}" width="100px" height="100px" >
        </div>
    </div>
    <div class="row">
        <h1>Creation d'un compte etudiant :</h1>
    </div>
    <div class="container">

                <div class="alert alert-info ">
                    <strong>info !</strong> apres la creation de votre compte il faut attendre l'activation du compte par l'administrateur !
                </div>

    </div>
    <div class="container">
        {% if error is defined  %}
            {% for er in error %}
                <div class="alert alert-danger">
                    <strong>Erreur !</strong> . {{ er }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>
    <script>
        var links=document.getElementsByTagName("a");
        for (var i=0;i<links.length;i++){
            links[i].classList.add('btn');
            links[i].classList.add('btn-secondary');
        }
        var inputs=document.getElementsByTagName("input");

        for (var i=0;i<inputs.length;i++){
            inputs[i].classList.add('form-control');

        }
        var selects=document.getElementsByTagName("select");
        for (var i=0;i<selects.length;i++){
            selects[i].classList.add('form-control');

        }
    </script>
</body>
</html>